
@font-face {
    font-family: raleway-a;
    font-weight: 400;
    src: url('../assets/fonts/raleway-regular.woff2');
}

@font-face {
    font-family: outfit-a;
    font-weight: 400;
    src: url('../assets/fonts/outfit-regular.woff2');
}