@use '../abstracts/' as abs;

.hero {
    position: relative;

    &__image {
        width: calc(var(--index) * 30);
        margin-inline-start: auto;
        position: relative;
        z-index: -1;
    }

    &__content {
        @include abs.absolute(bottom 0 left 50%);
        translate: -50% 0;
        text-align: center;

        @include abs.for-tablet-up {
            bottom: auto;
            top: 50%;
            left: 10%;
            translate: 0 -50%;
            text-align: left;
        }
    }

    &__title {
        font-size: 3.75rem;
        font-size: clamp(3.75rem, 2.4332061068702293rem + 6.106870229007633vw, 6.25rem);
        text-transform: capitalize;
        line-height: .9;
        width: min-content;
    }
}